@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.line {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  position: relative;
  font-family: 'Playfair Display', serif;
}
.line span {
  background-color: #ffffff;
  position: relative;
  z-index: 1;
  padding: 0px 25px;
}
.line:after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #262626;
  position: absolute;
  top: 50%;
  z-index: 0;
}

/* ------------Header style start-------------- */
.shipping{
  text-align: left;
  margin-left: 30px;
  font-size: 20px;
  
  
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.buying{
  text-align: right;
  margin-right: 30px;
  font-size: 15px;
  
  
}
.account{
 scale: 1.1;
 
}
.logIn{
  margin:0 19px 10px 5px;
  color:palevioletred;
 
 vertical-align: 50px;
 line-height: 180%;
 
}

/* .menu {
  background-color: black;
  color: white;
  height: 50px;
  vertical-align: middle;
  line-height: 50px; */
  /* margin: 10px; */
  /* padding: 5px 12px; */
  /* margin: 0px 12px; */
/* } */
.menu{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background-color: black;
  color: white;
  height: 50px;
}

.menu_link {
  padding: 0;
  text-decoration: none;
  color: white;
  line-height: 50px;
}

.menu_link:hover{
  background-color: palevioletred ;
  color: #ffffff;
}
.menu_link.active{
  background-color: palevioletred ;
}


/* ------------Header style end-------------- */

/* ------------Home page style start--------- */

.main_image{
  width:100%;
}

.round {
  width: 20em;
  height: 20em;
  border-radius: 50%;
  /* line-height: 3em;   */
  text-align: center;  
  vertical-align: center;
  background: black;
  color: white;
  position: absolute;
  top: 19em; left: 13em;
  font-family: 'Playfair Display', serif;
}

.adv_text{
  position: relative;
  top: 4em;
}
.adv_text2{
  position: relative;
  top: 2em;
}
.link{
color: lightcoral;
text-decoration: none;
}
.link:hover{
  color: lightcoral;
  opacity: 80%;
 cursor: pointer;
  }

.link::after{
  content: '\BB';
}

.wrapper_pic {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
}

.pic{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

.container_pic{
  position: relative;
}
/* .overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); Black clear */
  /* color: #f1f1f1;
  width: 100%;
  height: 130px;
  line-height: 130px;
  transition: .6s  ease;
  opacity:0;
  color: white;
  font-size: 40px;
  text-align: center;
  font-family: 'Lobster', cursive;
} */

.overlay{
  position: absolute;
  top: 50%;
  left: 10%;
  opacity:0;
  font-family: 'Lobster', cursive;
  color: #262626;
  font-size: 40px;
  text-align: center;
}

.container_pic:hover .overlay {
  opacity: 1;
}
.container_pic:hover .pic {
  opacity: 0.3;
}
/* ------------Home page style end-------------- */

/* ------------Lookbook page style start------- */
/* .slider_img{
  height:550px;
  width: 390px;
} */
.slider {
  /* position: relative; */
  width: auto;
  height: 550px;
  /* object-fit: cover; */
  margin: auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow: hidden;
  /* object-fit: contain; */

}

.slider-img img {
  /* position: absolute; */
  /* width: 390px;
  height: 550px; */
  /* object-fit: contain; */
  /* left: 0;
    right: 0;
    top: 0;
    bottom: 0; */
    /* height: auto;
    width: 100%;   */
    object-fit: cover;
    width: 100%;
    height: 100%;
   
}
.slider-img:hover{
  opacity: 0.5;
}

.slider-img-prev {
  transform: translateX(-5%);
}

.slider-img-next {
  transform: translateX(5%);
}


/* ------------Lookbook page style end------- */

/* ------------WhereToBuy style start-------------- */
.contaier_addresses{
  display: flex;
  justify-content: center;
}
.wrapper_addresses{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 500px;
  
}
.wrapper_subtitle{
  grid-column-start: 1;
  grid-column-end: 3;
}


/* ------------WhereToBuy style end-------------- */
/* ------------Footer style start-------------- */

.footer{
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: wrap;
  /* position: relative; */
  justify-content: space-between;
  vertical-align: center;
  /* position: fixed;
  
  bottom: 0; */
  width: auto;

  /* overflow: hidden; */
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  
  padding: 10px 10px 0px 0px;
 
  margin-top: 20px;
  font-size: 14px;

  position: relative;
  height: 100%;
  
}
.media{
  scale: 0.3;
  /* position: absolute;
  left: 80%;
  top: -30%; */
  cursor: pointer;
}

/* ------------Footer style end-------------- */

